* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 30px;
}

.contenedor {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
}

.animacion {
    width: 100px;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
}

.bounce {
    animation: bounce 1s infinite alternate linear;
}

@keyframes bounce {
    0% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(-100px);
    }
}

.fade {
    animation: fade 2s infinite alternate;
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.color {
    animation: color 4s infinite alternate linear;
}

@keyframes color {
    0% {
        background-color: red;
    }

    10% {
        background-color: yellow;
    }

    20% {
        background-color: aqua;
    }

    30% {
        background-color: blueviolet;
    }

    100% {
        background-color: tomato;
    }
}

.rotate {
    animation: rotate 2s infinite alternate linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.pulse {
    animation: 2s infinite alternate linear;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(2);
    }
}

.shake {
    animation: shake 0, 4s infinite linear;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

/*como en html todos tienen la misma clase ANIMACION solamente mencionamos las
siguientes clases (bounce, fade, slide, etc)*/

/* vamos a aprender a usar ANIMATION , es super compleja por que tiene muchas
propiedades para agregar
si solo ponemos "animation:" dentro podemos agregarle las propiedades que queremos;
primero se pone el nombre que queremos identificarlo este caso "BOUNCE"
los tiempos en css se miden en segundos
luego viene la itineracion ( cuanto queremos que se reprodusca)
alternate le damos a decir que lo empieze de 0 entonces puede completar el 100%
de lo que le indicamos en el transform

keyframes
aca le vamos a dar el estilo a cada contenedor

en css se le dice que en el inicio haga algo empieza en 0% 
y el final 100%

*deg , que representa un ángulo en grados. Un círculo completo equivale a 360deg . Ejemplos: 0deg , 90deg , 360deg . grad , que representa un ángulo en grado centesimal
*/